<form class="mt-4 contactForm" action="index.html" method="post">
              <div class="form-row">

                <div class="col form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control" name="name" required>
                </div>
                <div class="col form-group">
                  <label for="surname">Surname</label>
                  <input type="text" class="form-control" id="surname" name="surname" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col form-group">
                  <label for="email">Email address</label>
                  <input type="text" id="email" class="form-control" name="email" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col form-group">
                  <label for="email">Message</label>
                  <textarea name="comment" rows="3" class="form-control" required></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="col form-group">
                  <button type="submit" class="btn btn-primary form-control">Send</button>
                </div>
              </div>
            </form>
