<header class="container-fluid m-0 p-0">
  <app-header></app-header>
</header>

<section class="container-fluid m-0 p-0">
  <app-img-carousel></app-img-carousel>
</section>

<section class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-3">
        <app-sidebar (navlinkClicked)="pageHandler($event)"></app-sidebar>
      </div>
      <div class="col-lg-10 col-sm-8">
        <app-content [currentPage]="currentPage"></app-content>
      </div>
    </div>
  </div>
</section>

<div>
  <app-footer></app-footer>
  </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
