/* #007bff */

.nav-subpages {
  li{
    border-left: 3px solid #eee;
    a {
        color: #343a40;
        background-color: transparent;
        border-radius: 0;
        &:hover{
            background-color: #007bff;
            color: white!important ;
        }
    }
    a.active{
      color: #007bff;
      font-weight: bold;
    
    }

  }
  li.active{
    border-left: 3px solid #007bff;
  }
}
